* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color:#efeff0;
    --prim-color:#102E4A;
    --sec-color:#6B818C;
    --tert-color:black;
}

body {
    color: var(--text-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--sec-color);
    background-image: url("../images/papers.co-mf21-summer-black-night-revisited-star-space-sky-6-wallpaper");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
}

header h1 {
    font-weight:lighter;
    font-size: 36px;
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--text-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 15px;
}

header nav ul li a:hover {
    color: var(--text-color);
    font-weight: 700;
    border-bottom: 1px solid white;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

footer {
    background-color: black;
    width: 100%;
    padding: 30px 35px;
}

footer h2 {
    text-align: center;
    font-size: 13px;
    font-weight: lighter;
}

section {
    padding: 60px;
}

/* Hero Style Start */

.hero {
    background-image: url("../images/papers.co-mf21-summer-black-night-revisited-star-space-sky-6-wallpaper");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:60px 30px 100px 30px;
}

.hero .darth {
    margin: 20px 20px 20px 50px;
}

.hero .darth img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 450px;
    border: solid 3px var(--text-color);
    border-radius: 30%;
    box-shadow: 0 0 10px rgba(225, 225, 225, 0.5);
}

.hero .hire {
    font-weight: lighter;
    text-align: end;
    color: var(--text-color);
    margin: 3.5%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.hero .hire h2 {
    color: var(--text-color);
    font-weight: lighter;
    font-size: 30px;
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
}

.hero .hire p {
    max-width: 500px;
    line-height: 1.5;
}

/* hero styles end*/

/* about me styles start*/

#about-me {
    background-color: black;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    padding: 60px;
}

#about-me .about {
    border-right: 3px solid gray;
    padding: 50px 72px 50px 66px;
    font-size: 30px;
    text-align: right;
    flex: 0 .5 300px;
}

#about-me .me {
    max-width: 500px;
    padding: 20px;
    margin-left: 210px;
    line-height: 1.5;
}

/* about me styles end */

/* work styles start*/

#work {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.heading {
    display: flex;
    border-right: 3px solid gray;
    padding: 100px 33px 100px 168px;
    font-size: 30px;
    width: 303px;
}

.cards {
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
}

.card{
    display: flex;
    flex-direction: column;
    min-height: 300px;
    max-width: 380px;
    overflow: hidden;
    background: white;
    color: black;
    border-radius: 5px;
    box-shadow: 3px 2px 14px rgba(255, 255, 255, 0.4);
    text-decoration: none;
    font-size: 16px;
    margin: 30px;
    transition: transform 200ms ease-in-out;
}

.card:hover {
    transform: translatey(-16px);
    box-shadow: 3px 2px 14px rgba(255, 255, 255, 1);
}

.run {
    background-image: url("../images/hero-bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 800px;
}

.tbd {
    background-image: url("../images/index.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 100%;
}

.card-title {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: .5rem;
}

.card-info {
    margin-bottom: .5rem;
}

.card-readmore {
    text-transform: uppercase;
    font-weight: 700;
    margin-top: auto;
}

/* end styles for work section */

/* start styles for contact section */

#contact-me {
    background-color: black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

.footer-head {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-head h2 {
    font-weight: lighter;
    color: var(--text-color);
    font-size: 30px;
}

.footer-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
}

.footer-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 39%;
    list-style: none;
    margin-top: 10px;
}

.footer-list ul li a {
    text-decoration: none;
    font-weight: lighter;
    font-size: 16px;
    color: var(--text-color);
}